.cabecera{
    text-align: center;
    color: white;
}

.logueate{
    margin-top: 1%;
    margin-left: 2%;
}
.buscador{

    margin-left: 2%;
}
.form{
    margin-top: 3%;
    margin-left: 6%;
    width: 150px;
}

.foater{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 0;
    width: 100%;
    background-color: goldenrod;
}
body{
    background-color: black ;
}
.col-md-4{
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:10px ;
    margin-left: 10px;
    margin-right: 10px;
}

.star{
    width: 20px;
    height: 20px;
    margin-top: -12px;
    margin-bottom: 3px;

}


.pelicula{
    width: 100%;
    height: 200px;
}

.card1{
    border: goldenrod solid 2px;
    margin:60px;
    width: 255px;
    height: 560px;
    background: -webkit-gradient(linear, left top, left bottom, from(gold), to(orange));
    border-radius: 6px;
}

.registro{
    position: absolute;
    margin-top: 1%;
    margin-left: 90%;
    text-transform: uppercase;
    text-decoration: none;
    color: #111111;
    background-color: white;
    padding: 4px;
    border: solid black 1px;
    text-align: center;
}